<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Error</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content-err">
            {{>header}}
            <p>{{message}}</p>
            <div>
                <img class="err-img" src="/img/404.gif">
            </div>
        </div>
        {{>footer}}
    </body>
</html>