<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Help</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img src="./img/rihana2.gif">
        </div>
        {{>footer}}
    </body>
</html>